body{
	#color:white;
	color:black;
	text-align:center;
	font-weight:bold;

}





#container{
	display:grid;
	max-width:960px;
	margin:0 auto;
	#border: 1px solid blue;

}

header,nav,aside,article,footer{
	border: 1px solid black;
	padding: 25px;
	background-color: grey;


}






















{
}
{
}
